@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>

@using Umbraco.Web.PublishedModels
    
    
@{
	Layout = "Master.cshtml";
}

<div class="" style="color: @Model.ColourName">

    <h1>@Model.Title</h1>
    <p>@Model.MainContent</p>

    <p>Your Favourite Color: @Model.ColourName</p>

</div>

@if (Model.ShowImage)
{
    <img src="~/Media/Images/r34.jpg" title="R34 Skyline"/>
}
