@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using Umbraco.Web.PublishedModels


@{
    Layout = "Master.cshtml";
}

        <section class="grid-container full padding-top padding-bottom relative hybrid-flex-sm hybrid-flex-hc-sm hybrid-flex-vc-sm landing wow fadeIn">
            <div class="grid-container" style="width:100%;">
                <div class="grid-x grid-padding-x padding-bottom">
                    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell text-center wow fadeIn" data-wow-delay=".1s">
                        <a class="company-logo" href="home.html" title="StarCar Hire">
                            <img src="~/assets/images/company-logo.svg" alt="StarCar Hire"/>
                        </a>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell wow fadeIn" data-wow-delay=".2s">
                        <form action="" method="">
                            <div class="grid-x grid-padding-x">
                                <div class="small-12 medium-6 cell">
                                    <label for="postcode">Enter Your Postcode:</label>
                                    <input id="postcode" name="postcode" type="text" placeholder="BT12 3AB"/>
                                </div>
                                <div class="small-12 medium-6 cell">
                                    <label for="vehicle">I'm Hiring A Vehicle For:</label>
                                    <div class="hybrid-flex-sm space-between">
                                        <button id="vehicle" class="wedding" name="vehicle" type="submit">Wedding</button>
                                        <button id="vehicle" class="media" name="vehicle" type="submit">Media/Event</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="grid-x grid-padding-x disclaimer wow fadeIn" data-wow-delay=".3s">
                    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell text-center">
                        <h6>
                            <a href="">starcarhire.co.uk</a>
                        </h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis dolor purus. Nulla aliquot condimentum suscipit. Sed condimentum mattis dictum. Vestibulum euismod Bibendum dolor eu ultricies. In massa tortor, vestibulum in ultricies ut, blandit quis turpis. Nulla ac aliquam tortor. Suspendisse in lorem augue, at aliquam leo. Etiam vitae turpis lorem, at accumsan nulla. Fusce et enim a lacus adipiscing ultrices eget vel felis. Ut ut nisi ac risus posuere mollis ac at ante. Phasellus ullamcorper Bibendum mollis. In vitae tellus at libero egestas vnenatis id eget lectus.</p>
                    </div>
                </div>
            </div>
        </section>