@inherits UmbracoViewPage

<!-- Footer-->
<footer class="grid-container full padding-top padding-bottom background-colour_medium-grey footer wow fadeIn">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-3 cell">
                <a class="company-logo wow fadeIn" href="home.html" title="StarCar Hire" data-wow-delay=".1s">
                    <img src="~/assets/images/company-logo.svg" alt="StarCar Hire"/>
                </a>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-3 cell wow fadeInUp" data-wow-delay=".2s">
                <p>
                    Postal Address or Registration Data placed here.
                </p>
                <p>
                    Tel: <a class="text-link" href="tel:">Phone Number</a><br>
                    Fax: <a class="text-link" href="fax:">Fax Number</a><br>
                    Email: <a class="text-link" href="mailto:">Email Address</a>
                </p>
            </div>
            <div class="small-12 medium-9 large-6 large-offset-3 cell">
                <div class="grid-x grid-padding-x columns">
                    <div class="small-4 cell hybrid-flex-md hybrid-flex-he-md column wow fadeInLeft" data-wow-delay=".3s">
                        <div>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                        </div>
                    </div>
                    <div class="small-4 cell hybrid-flex-md hybrid-flex-he-md column wow fadeInLeft" data-wow-delay=".4s">
                        <div>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                        </div>
                    </div>
                    <div class="small-4 cell hybrid-flex-md hybrid-flex-he-md column wow fadeInLeft" data-wow-delay=".5s">
                        <div>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                            <a class="text-link" href="#">Example Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>