@inherits UmbracoViewPage

<!-- Navigation-->
<header class="grid-container full background-colour_light-grey header wow fadeIn">
    <div class="grid-container relative">
        <div class="grid-x grid-padding-x">
            <div class="small-6 cell">
                <a class="company-logo" href="home.html" title="StarCar Hire">
                    <img src="assets/images/company-logo-alt.svg" alt="StarCar Hire"/>
                </a>
            </div>
            <div class="small-6 cell hybrid-flex-sm hybrid-flex-he-sm">
                <nav class="hybrid-flex-sm hybrid-flex-vc-sm">
                    <ul class="hybrid-flex-sm">
                        <li>
                            <a class="text-link" href="#">List Your Vehicle</a>
                        </li>
                        <li>
                            <a class="text-link" href="#">Login</a>
                        </li>
                    </ul>
                </nav>
                <form class="absolute hybrid-flex-sm hybrid-flex-vc-sm" action="" method="">
                    <label for="search">Search:</label>
                    <input id="search" name="search" type="search" placeholder="Enter Make, Model, Keyword, etc."/>
                    <i class="fal fa-search absolute"></i>
                </form>
            </div>
        </div>
    </div>
</header>