<div class="grid-container full fixed background-colour_medium-grey get-quotes wow fadeInUp" data-wow-delay="1s">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-6 cell hybrid-flex-sm hybrid-flex-hs-sm hybrid-flex-vc-sm">
                <p>3 Vehicles Shortlisted</p>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href="#">Clear All</a>
            </div>
            <div class="small-6 cell hybrid-flex-sm hybrid-flex-he-sm hybrid-flex-vc-sm">
                <button type="button">Get Instant Quotes</button>
            </div>
        </div>
    </div>
</div>