@inherits Umbraco.Web.Mvc.UmbracoViewPage

<!--SearchBox-->
<form class="absolute hybrid-flex-sm hybrid-flex-vc-sm" action="" method="">
    <label for="search">Search:</label>
    <!--Razor Convert Needed-->
    <input id="search" name="search" type="search" placeholder="Enter Make, Model, Keyword, etc."/>
    <i class="fal fa-search absolute"></i>
</form>