/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* Import Vendors.
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
            transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
  }
}

@keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
            transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
  }
}

@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
            transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/**
* Import Helpers.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _variables - Small.
*/
/**
* _variables - Medium.
*/
/**
* _variables - Large.
*/
/**
* _variables - XL.
*/
/**
* _variables - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _colours - Small.
*/
/**
* _colours - Medium.
*/
/**
* _colours - Large.
*/
/**
* _colours - XL.
*/
/**
* _colours - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _fonts - Small.
*/
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

p, address {
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

label {
  margin: 0;
}

/**
* _fonts - Medium.
*/
/**
* _fonts - Large.
*/
/**
* _fonts - XL.
*/
/**
* _fonts - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _cookie-policy - Small.
*/
.cookie-policy {
  width: calc(100% - .625rem * 2);
  max-width: 480px;
  padding: .625rem;
  left: .625rem;
  bottom: .625rem;
  position: fixed;
  z-index: 1;
}

.cookie-policy img {
  width: 100%;
  height: auto;
  display: block;
}

.cookie-policy p a {
  display: inline-block;
  text-decoration: line-through;
}

.cookie-policy p:last-of-type {
  margin: 0;
}

.cookie-policy .cookie-policy-close {
  padding: 0px 0px 2px 0px;
  margin: 1.5rem 0rem 0rem 0rem;
  display: inline-block;
  cursor: pointer;
}

/**
* _cookie-policy - Medium.
*/
@media screen and (min-width: 640px) {
  .cookie-policy {
    width: calc(100% - .9375rem * 2);
    padding: .9375rem;
    left: .9375rem;
    bottom: .9375rem;
  }
}

/**
* _cookie-policy - Large.
*/
/**
* _cookie-policy - XL.
*/
/**
* _cookie-policy - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _accessibility - Small.
*/
#accessibility .a11y-toolbar {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

#accessibility .a11y-toolbar .a11y-toolbar-list {
  border-radius: 0;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button {
  width: 50px;
  height: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .offscreen {
  display: none;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .aticon.aticon-adjust, #accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .aticon.aticon-font {
  width: 50px;
  height: 50px;
  display: block;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .aticon.aticon-adjust {
  background-image: url("../images/accessibility/aticon-adjust.svg");
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .aticon.aticon-font {
  background-image: url("../images/accessibility/aticon-font.svg");
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button .aticon:before {
  display: none;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button.a11y-toggle-contrast {
  background-color: #e6e6e6;
}

#accessibility .a11y-toolbar .a11y-toolbar-list .a11y-toolbar-list-item button.a11y-toggle-fontsize {
  background-color: #f2f2f2;
}

/**
* _accessibility - Medium.
*/
/**
* _accessibility - Large.
*/
/**
* _accessibility - XL.
*/
/**
* _accessibility - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _mixins - Small.
*/
/* Clearfix. */
/* Pseudo (when using :before and :after you'll always need these three, so we're saving two lines of code every time you use this). */
/*.example {
	&:before {
		@include pseudo;
	}
}*/
/* Truncate. */
/* Responsive Ratio. */
/* Give Placeholder Text a Custom Colour. */
/* Hardware Acceleration. */
/**
* _mixins - Medium.
*/
/**
* _mixins - Large.
*/
/**
* _mixins - XL.
*/
/**
* _mixins - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _classes - Small.
*/
/* General Classes. */
#skip-navigation-link a {
  width: 1px;
  height: 1px;
  top: auto;
  left: -10000px;
  position: absolute;
  overflow: hidden;
}

#skip-navigation-link a:focus {
  width: auto;
  height: auto;
  position: static;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.background-colour_light-grey {
  background-color: #E6E6E6;
}

.background-colour_medium-grey {
  background-color: #9B9B9B;
}

/* Padding Classes. */
.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

/* Margin Classes. */
.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

/* Element Alignment Classes. */
.hybrid-flex-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hybrid-flex-hs-sm {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hybrid-flex-hc-sm {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hybrid-flex-he-sm {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hybrid-flex-vt-sm {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hybrid-flex-vc-sm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hybrid-flex-vb-sm {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hybrid-flex-alt-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hybrid-flex-alt-hs-sm {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hybrid-flex-alt-hc-sm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hybrid-flex-alt-he-sm {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hybrid-flex-alt-vt-sm {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hybrid-flex-alt-vc-sm {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hybrid-flex-alt-vb-sm {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Text Alignment Classes. */
.text-left-sm {
  text-align: left;
}

.text-center-sm {
  text-align: center;
}

.text-right-sm {
  text-align: right;
}

/* Hide/Show Classes. */
.hide-for-xl {
  display: inline-block;
}

.hide-for-xxl {
  display: inline-block;
}

.show-for-xl {
  display: none;
}

.show-for-xxl {
  display: none;
}

/**
* _classes - Medium.
*/
@media screen and (min-width: 640px) {
  /* Padding Classes. */
  .padding-top {
    padding-top: 75px;
  }
  .padding-bottom {
    padding-bottom: 75px;
  }
  /* Margin Classes. */
  .margin-top {
    margin-top: 75px;
  }
  .margin-bottom {
    margin-bottom: 75px;
  }
  /* Element Alignment Classes. */
  .hybrid-flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hybrid-flex-hs-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-hc-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-he-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hybrid-flex-vt-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-vc-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-vb-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hybrid-flex-alt-hs-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-alt-hc-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-alt-he-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-vt-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-alt-vc-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-alt-vb-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /* Text Alignment Classes. */
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  /* Hide/Show Classes. */
}

/**
* _classes - Large.
*/
@media screen and (min-width: 1024px) {
  /* Padding Classes. */
  .padding-top {
    padding-top: 100px;
  }
  .padding-bottom {
    padding-bottom: 100px;
  }
  /* Margin Classes. */
  .margin-top {
    margin-top: 100px;
  }
  .margin-bottom {
    margin-bottom: 100px;
  }
  /* Element Alignment Classes. */
  .hybrid-flex-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hybrid-flex-hs-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-hc-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-he-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hybrid-flex-vt-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-vc-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-vb-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hybrid-flex-alt-hs-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-alt-hc-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-alt-he-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-vt-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-alt-vc-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-alt-vb-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /* Text Alignment Classes. */
  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
  /* Hide/Show Classes. */
}

/**
* _classes - XL.
*/
@media screen and (min-width: 1200px) {
  /* Element Alignment Classes. */
  .hybrid-flex-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hybrid-flex-hs-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-hc-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-he-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hybrid-flex-vt-xl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-vc-xl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-vb-xl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hybrid-flex-alt-hs-xl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-alt-hc-xl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-alt-he-xl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-vt-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-alt-vc-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-alt-vb-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /* Text Alignment Classes. */
  .text-left-xl {
    text-align: left;
  }
  .text-center-xl {
    text-align: center;
  }
  .text-right-xl {
    text-align: right;
  }
  /* Hide/Show Classes. */
  .hide-for-xl {
    display: none;
  }
  .show-for-xl {
    display: inline-block;
  }
}

/**
* _classes - XXL.
*/
@media screen and (min-width: 1440px) {
  /* Element Alignment Classes. */
  .hybrid-flex-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hybrid-flex-hs-xxl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-hc-xxl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-he-xxl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hybrid-flex-vt-xxl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-vc-xxl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-vb-xxl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hybrid-flex-alt-hs-xxl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hybrid-flex-alt-hc-xxl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hybrid-flex-alt-he-xxl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hybrid-flex-alt-vt-xxl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hybrid-flex-alt-vc-xxl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hybrid-flex-alt-vb-xxl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /* Text Alignment Classes. */
  .text-left-xxl {
    text-align: left;
  }
  .text-center-xxl {
    text-align: center;
  }
  .text-right-xxl {
    text-align: right;
  }
  /* Hide/Show Classes. */
  .hide-for-xxl {
    display: none;
  }
  .show-for-xxl {
    display: inline-block;
  }
}

/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _effects - Small.
*/
/* Links. */
.text-link {
  padding: 3px 0px 3px 0px;
  position: relative;
  display: block;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.text-link:before, .text-link:after {
  width: 0;
  height: 1px;
  top: calc(100% + 6px);
  right: 0;
  position: absolute;
  content: '';
}

.text-link:before {
  background-color: rgba(146, 146, 146, 0.3);
  -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
}

.text-link:after {
  background-color: #929292;
  -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}

/* Buttons. */
.materialize-button {
  height: 60px;
  padding: 0rem 2rem 0rem 2rem;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}

.materialize-button span.ripple {
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  position: absolute;
  background-color: rgba(10, 10, 10, 0.25);
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: ripple 0.8s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          animation: ripple 0.8s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}

.materialize-button.ghost {
  background-color: transparent;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

/* Wow. */
.wow {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flipInX {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
          animation-timing-function: cubic-bezier(0.51, 0.18, 0, 0.88);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Block Reveal. */
/* .block-reveal-element {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    // background-color: $;
    opacity: 0;
    pointer-events: none;
} */
/**
* _effects - Medium.
*/
/**
* _effects - Large.
*/
@media screen and (min-width: 1024px) {
  /* Links. */
  .text-link:hover:before, .text-link:hover:after {
    width: 100%;
    left: 0;
  }
  /* Buttons. */
}

/**
* _effects - XL.
*/
/**
* _effects - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*
* Example Checkbox Text: By selecting this box you agree for us to contact you using the information provided above and to everything outlined in our Privacy Policy.
*
*/
/**
* _forms - Small.
*/
.frm_forms form .frm_form_fields fieldset {
  padding: 0 !important;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field {
  margin: 0rem 0rem .625rem 0rem;
  /*.frm_checkbox {
							cursor: pointer;

							label {
								&[for=] {
									width: 100% !important;
									padding: 0px 0px 0px calc(15px + .625rem) !important;
									margin: 0 !important;
									position: relative;
									// line-height: ;
									text-indent: 0;

									input[type=checkbox] {
										width: 0;
										height: 0;
										top: 2.5px;
										left: 0;
										position: absolute;
										opacity: 0;
										cursor: pointer;

										&:checked {
											& ~ {
												.hybrid-checkbox {
													// background-color: $;
												}
											}
										}
									}

									.hybrid-checkbox {
										width: 15px;
										height: 15px;
										margin: 0rem .625rem 0rem 0rem;
										top: 2.5px;
										left: 0;
										position: absolute;
										display: block;
										background-color: $white;
										border: 1px solid $mediumGrey;
										transition: .5s cubic-bezier(0.51, 0.18, 0, 0.88);
									}
								}
							}
						}*/
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field input:not([type=checkbox]), .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field select, .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field textarea {
  width: 100%;
  padding: 0rem .625rem 0rem .625rem;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field input:not([type=checkbox]):focus, .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field select:focus, .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field textarea:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field select {
  padding: 0rem 1.875rem 0rem .625rem;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field textarea {
  padding: .625rem;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone {
  min-height: auto;
  margin: 0;
  border: none;
  border-radius: 0;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-message {
  padding: .625rem;
  margin: 0;
  border: none;
  border-radius: 0;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-message .frm_icon_font {
  padding: 0rem 0rem 1rem 0rem;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-message .frm_small_text {
  text-transform: capitalize;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview {
  padding: .625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-image {
  width: 25%;
  height: auto;
  margin: 0;
  float: left;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-image img {
  width: 100%;
  height: auto;
  max-height: none;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column {
  width: 75%;
  height: auto;
  padding: 0rem 0rem 0rem calc(1rem - 5px);
  margin: 0;
  left: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column .dz-details {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column .dz-details .dz-filename {
  width: calc(100% - 20px);
  max-width: none;
  padding: 0;
  text-overflow: ellipsis;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column .dz-details .dz-size {
  display: none;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column .dz-details .dz-remove {
  font-size: 20px;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview .dz-column .dz-progress {
  margin: 1rem 0rem 0rem 0rem;
  border-radius: 0;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_error {
  margin: 5px 0px 0px 0px;
}

.frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_submit .frm_button_submit {
  /* .materialize-button code should be placed here. */
}

.frm_forms form .frm_error_style {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

.frm_forms .frm_message {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

/**
* _forms - Medium.
*/
@media screen and (min-width: 640px) {
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field {
    margin: 0rem 0rem .9375rem 0rem;
    /*.frm_checkbox {
								label {
									&[for=] {
										padding: 0px 0px 0px calc(15px + .9375rem) !important;

										.hybrid-checkbox {
											padding: 0rem .9375rem 0rem 0rem;
										}
									}
								}
							}*/
  }
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field input:not([type=checkbox]) {
    padding: 0rem .9375rem 0rem .9375rem;
  }
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field select {
    padding: 0rem 1.875rem 0rem .9375rem;
  }
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field textarea {
    padding: .9375rem;
  }
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-message,
  .frm_forms form .frm_form_fields fieldset .frm_fields_container .frm_form_field .frm_dropzone .dz-preview {
    padding: .9375rem;
  }
}

/**
* _forms - Large.
*/
@media screen and (min-width: 1024px) {
  /*.frm_forms {
		form {
			.frm_form_fields {
				fieldset {
					.frm_fields_container {
						.frm_form_field {
							.frm_checkbox {
								&:hover {
									label {
										&[for=] {
											.hybrid-checkbox {
												// background-color: rgba($, .25);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}*/
}

/**
* _forms - XL.
*/
/**
* _forms - XXL.
*/
/**
* Import Partials.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _front-page - Small.
*/
.landing {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.landing .company-logo {
  width: calc(320px - .625rem * 2);
  max-width: 75%;
  margin: auto;
  display: block;
}

.landing .company-logo img {
  width: 100%;
  max-width: none;
  height: auto;
}

.landing form {
  padding: 1rem;
  background-color: rgba(10, 10, 10, 0.6);
  border-radius: 10px;
}

.landing form label {
  margin: 0rem 0rem .625rem 0rem;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.landing form input {
  width: 100%;
  height: 40px;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
  background-color: #FEFEFE !important;
  border: none !important;
  border-radius: 10px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #0A0A0A;
  font-family: 'Segoe UI';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.landing form ::-webkit-input-placeholder {
  color: #CCCCCC;
}

.landing form :-moz-placeholder {
  color: #CCCCCC;
}

.landing form ::-moz-placeholder {
  color: #CCCCCC;
}

.landing form :-ms-input-placeholder {
  color: #CCCCCC;
}

.landing form button {
  width: calc(50% - .625rem / 2);
  height: 40px;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
  background-color: #FEFEFE !important;
  border: none !important;
  border-radius: 10px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

.landing form button.wedding {
  background-color: #929292 !important;
}

.landing form button.media {
  background-color: #5C757B !important;
}

.landing form .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .disclaimer h6 {
  margin: 0px 0px 25px 0px;
}

.landing .disclaimer h6 a {
  color: #FEFEFE;
}

.landing .disclaimer p {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

/**
* _front-page - Medium.
*/
@media screen and (min-width: 640px) {
  .landing .company-logo {
    width: calc(320px - .9375rem * 2);
    max-width: 275px;
  }
  .landing form button {
    width: calc(50% - .9375rem / 2);
  }
  .landing .disclaimer {
    margin: auto;
    left: 0;
    bottom: 75px;
    right: 0;
    position: absolute;
  }
}

/**
* _front-page - Large.
*/
@media screen and (min-width: 1024px) {
  .landing .disclaimer {
    bottom: 100px;
  }
}

/**
* _front-page - XL.
*/
@media screen and (min-width: 1200px) {
  .landing form {
    max-width: 690px;
    margin: auto;
  }
}

/**
* _front-page - XXL.
*/
/**
* Import Layouts.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _footer - Small.
*/
.footer .company-logo {
  margin: 0rem 0rem 1.875rem 0rem;
  display: inline-block;
}

.footer .company-logo img {
  width: 120px;
}

.footer p {
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .text-link {
  padding: 0;
  display: inline-block;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.footer .text-link:before, .footer .text-link:after {
  top: 100%;
}

.footer .text-link:before {
  background-color: rgba(254, 254, 254, 0.3);
}

.footer .text-link:after {
  background-color: #fefefe;
}

.footer .columns .column .text-link {
  margin: 0rem 0rem .625rem 0rem;
  display: table;
  line-height: 24px;
}

.footer .columns .column .text-link:last-of-type {
  margin: 0;
}

/**
* _footer - Medium.
*/
/**
* _footer - Large.
*/
/**
* _footer - XL.
*/
/**
* _footer - XXL.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _header - Small.
*/
.header {
  z-index: 1;
}

.header .company-logo {
  display: inline-block;
}

.header .company-logo img {
  width: 120px;
}

.header nav ul {
  margin: 0;
  list-style: none;
}

.header nav ul li {
  margin: 0rem 1.875rem 0rem 0rem;
}

.header nav ul li a {
  padding: 0;
  color: #929292;
  text-transform: uppercase;
}

.header nav ul li:last-of-type {
  margin: 0;
}

.header form {
  min-width: calc(320px - .625rem * 2);
  height: 40px;
  bottom: -20px;
  right: .625rem;
}

.header form label {
  height: 40px;
  padding: 0rem calc(1rem + 10px) 0rem 1rem;
  margin: 0px -10px 0px 0px;
  background-color: #cdcdcd;
  border: 1px solid #b3b3b3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
}

.header form input {
  height: 40px;
  margin: 0;
  background-color: #FEFEFE;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
}

.header form i {
  right: 1rem;
}

.header .grid-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

/**
* _header - Medium.
*/
@media screen and (min-width: 640px) {
  .header .company-logo img {
    width: 180px;
  }
  .header form {
    min-width: 444px;
    right: .9375rem;
  }
  .header .grid-container {
    padding-top: 37.5px;
    padding-bottom: 37.5px;
  }
}

/**
* _header - Large.
*/
@media screen and (min-width: 1024px) {
  .header .company-logo img {
    width: 240px;
  }
  .header .grid-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/**
* _header - XL.
*/
/**
* _header - XXL.
*/
/**
* Import Checklist.
*/
/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/
/**
* _checklist - max-width: 639px.
*/
@media screen and (max-width: 639px) {
  .landing form input#postcode {
    margin-bottom: 1.25rem;
  }
  .header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header nav ul li {
    margin: 0;
  }
  .filters span:not(.slider-handle):not(.slider-fill) {
    font-size: 12px !important;
  }
  .filters .price {
    margin: 25px 0px 0px 0px;
  }
  .cars .car .buttons button {
    font-size: 12px !important;
  }
  .cars .spotlight .content .buttons button {
    font-size: 12px !important;
  }
}

/**
* _checklist - min-width: 640px and max-width: 1023px.
*/
/**
* _checklist - min-width: 1024px and max-width: 1199px.
*/
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .cars .car .buttons button {
    font-size: 8px !important;
  }
}

/**
* _checklist - min-width: 1200px and max-width: 1439px.
*/
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .cars .car .buttons button {
    font-size: 11px !important;
  }
}

/**
* _checklist - min-width: 1440px.
*/
@media screen and (min-width: 1440px) {
  .cars .car .buttons button {
    font-size: 14px !important;
  }
}

/**
* Global Styles - Small.
*/
/* Prevent Horizontal Scrollbar. */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  outline: 0 !important;
}

.grid-container {
  max-width: 1440px !important;
}

.grid-container.full {
  max-width: none !important;
}

.internal-banner {
  padding: 60px 0px 60px 0px;
  background-color: #F2F2F2;
}

.internal-banner .internal-breadcrumb {
  display: inline-block;
}

.internal-banner p {
  margin: 0;
}

.internal-content h1:last-child, .internal-content h2:last-child, .internal-content h3:last-child, .internal-content h4:last-child, .internal-content h5:last-child, .internal-content h6:last-child, .internal-content p:last-child, .internal-content ul:last-child, .internal-content ol:last-child, .internal-content li:last-child, .internal-content a:last-child {
  margin-bottom: 0;
}

.internal-content ul, .internal-content ol {
  margin: 0rem 0rem 1rem 3rem;
}

.internal-content ul li, .internal-content ol li {
  padding: 0rem 0rem .625rem 0rem;
}

.internal-content ul li:last-of-type, .internal-content ol li:last-of-type {
  padding: 0;
}

.internal-content h1, .internal-content h2, .internal-content h3 {
  margin: 3rem 0rem 2rem 0rem;
}

.internal-content h1:first-child, .internal-content h2:first-child, .internal-content h3:first-child {
  margin: 0rem 0rem 2rem 0rem;
}

.internal-content h4, .internal-content h5, .internal-content h6 {
  margin: 2rem 0rem 1.5rem 0rem;
}

.internal-content h4:first-of-type, .internal-content h5:first-of-type, .internal-content h6:first-of-type {
  margin: 0rem 0rem 1.5rem 0rem;
}

.internal-content p:first-child {
  margin: 0rem 0rem 1.5rem 0rem;
}

.internal-content ul {
  list-style: circle;
}

.internal-content a:not(.accordion-title) {
  /* .text-link code should be placed here. */
}

.filters {
  padding: 0px 0px 25px 0px;
}

.filters button {
  width: 40px;
  padding: calc(.625rem / 2);
  margin: 0rem .625rem 0rem 0rem;
  border: 1px solid #929292;
  border-radius: 5px;
  cursor: pointer;
}

.filters button i {
  font-size: 20px;
  line-height: 20px;
}

.filters button:nth-of-type(2) {
  border: 1px solid #4FBEF2;
}

.filters button:nth-of-type(2) i {
  color: #4FBEF2;
}

.filters span:not(.slider-handle):not(.slider-fill) {
  top: -2px;
  position: relative;
  display: inline-block;
  color: #4FBEF2;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
}

.filters .price {
  border: 1px solid #929292;
  border-radius: 5px;
}

.filters .price .explanation {
  padding: calc(.625rem / 2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #929292;
}

.filters .price .explanation span {
  color: #929292;
}

.filters .price .slider {
  width: calc(100% - .625rem);
  height: 7px;
  margin: 0.625rem calc(.625rem / 2) 0.625rem calc(.625rem / 2);
}

.filters .price .slider .slider-handle {
  width: 16px;
  height: 16px;
  background-color: #328EA8;
  border-radius: 100%;
}

.filters .price .slider .slider-fill {
  height: 7px;
  background-color: #68BED6;
}

.filters .popup {
  width: calc(100% - .625rem * 2);
  min-width: 300px;
  padding: 1.5rem 1rem 1.5rem 1rem;
  top: 50px;
  left: -50px;
  background-color: #FEFEFE;
  z-index: 2;
}

.filters .popup p {
  margin: 0;
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.cars .car {
  padding: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #F9F9F9;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 12px rgba(10, 10, 10, 0);
          box-shadow: 3px 3px 12px rgba(10, 10, 10, 0);
  -webkit-transition: 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
  transition: 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
}

.cars .car .image {
  overflow: hidden;
}

.cars .car .image .text {
  top: 1rem;
  left: 1rem;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  z-index: 1;
}

.cars .car .image .boxes {
  left: 0;
  bottom: 0;
  z-index: 1;
}

.cars .car .image .boxes .box {
  padding: .625rem;
}

.cars .car .image .boxes .box span {
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.cars .car .image .boxes .box i {
  color: #FEFEFE;
  font-size: 16px;
  line-height: 16px;
}

.cars .car .image .boxes .box.one {
  background-color: #AA1120;
}

.cars .car .image .boxes .box.two {
  background-color: #C9020D;
}

.cars .car .image img {
  width: 100%;
  max-width: none;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.cars .car .content {
  padding: 1rem 0rem 0rem 0rem;
}

.cars .car .content h3 {
  margin: 0rem 0rem .25rem 0rem;
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.cars .car .content p {
  color: #9B9B9B;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cars .car .content hr {
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid #E6E6E6;
}

.cars .car .content span {
  color: #82AFCC;
  font-family: 'Segoe UI';
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 27px;
}

.cars .car .buttons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cars .car .buttons button {
  width: calc(50% - .625rem / 2);
  height: 40px;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
  background-color: rgba(10, 10, 10, 0.05) !important;
  border: none !important;
  border-radius: 10px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

.cars .spotlight {
  padding: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #E8E1CC;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 12px rgba(10, 10, 10, 0);
          box-shadow: 3px 3px 12px rgba(10, 10, 10, 0);
  -webkit-transition: 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
  transition: 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
}

.cars .spotlight .content h6 {
  margin: 0rem 0rem 1rem 0rem;
  color: #7B6E19;
  opacity: 30%;
}

.cars .spotlight .content h3 {
  margin: 0rem 0rem .25rem 0rem;
  color: #7B6E19;
  font-family: 'Segoe UI';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.cars .spotlight .content p {
  margin: 0;
  color: #7B6E19;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 40%;
}

.cars .spotlight .content h4 {
  color: #7B6E19;
  font-family: 'Segoe UI';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.cars .spotlight .content h4 span {
  font-size: 16px;
}

.cars .spotlight .content .buttons {
  margin: 1.875rem 0rem 0rem 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cars .spotlight .content .buttons button {
  width: calc(50% - .625rem / 2);
  height: 40px;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
  background-color: #C8B685 !important;
  border: none !important;
  border-radius: 10px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

.cars .spotlight .content hr {
  width: 100%;
  margin: 2rem 0rem 2rem 0rem;
  border-bottom: 1px solid #E6E6E6;
}

.cars .spotlight .images {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cars .spotlight .images .image {
  width: 100%;
  margin: 0rem 0rem .625rem 0rem;
  overflow: hidden;
}

.cars .spotlight .images .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cars .spotlight .images .image:last-of-type {
  margin: 0;
}

.get-quotes {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.get-quotes p {
  margin: 0;
  display: inline-block;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.get-quotes a {
  display: inline-block;
  color: #FEFEFE;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  text-decoration: underline;
}

.get-quotes button {
  width: auto;
  height: 40px;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0;
  background-color: #FEFEFE !important;
  border: none !important;
  border-radius: 10px !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #929292;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

/* Magnific Popup. */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: 0.4s cubic-bezier(0.51, 0.18, 0, 0.88);
  transition: 0.4s cubic-bezier(0.51, 0.18, 0, 0.88);
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .75;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: 0.4s cubic-bezier(0.51, 0.18, 0, 0.88);
  transition: 0.4s cubic-bezier(0.51, 0.18, 0, 0.88);
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-iframe-holder .mfp-close {
  padding: 0;
  top: -60px;
  right: 0;
}

.mfp-popup {
  width: calc(100% - .625rem * 2);
  max-width: 600px;
  padding: 1rem;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background-color: #FEFEFE;
}

.mfp-popup button.mfp-close {
  top: 1rem;
  right: 1rem;
  position: absolute;
  border: 1px solid #929292;
  border-radius: 100%;
  color: #929292;
  font-size: 30px;
  line-height: 30px;
  opacity: 1;
}

.mfp-popup p {
  max-width: 75%;
  margin: 0;
}

/**
* Global Styles - Medium.
*/
@media screen and (min-width: 640px) {
  .internal-banner {
    padding: 90px 0px 90px 0px;
  }
  .internal-content ul li, .internal-content ol li {
    padding: 0rem 0rem .9375rem 0rem;
  }
  .filters .popup {
    min-width: 444px;
  }
  .filters .price .slider {
    width: 240px;
  }
  .cars .car .buttons button {
    width: calc(50% - .9375rem / 2);
  }
  .cars .spotlight .images .image {
    width: calc(33.33333% - .9375rem / 2);
    margin: 0;
  }
  /* Magnific Popup. */
  .mfp-popup {
    width: calc(100% - .9375rem * 2);
    padding: 2rem;
  }
}

/**
* Global Styles - Large.
*/
@media screen and (min-width: 1024px) {
  .internal-banner {
    padding: 120px 0px 120px 0px;
  }
  .internal-content a:not(.accordion-title) {
    /* .text-link code should be placed here. */
  }
  .cars .car:hover, .cars .spotlight:hover {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-box-shadow: 3px 3px 12px rgba(10, 10, 10, 0.2);
            box-shadow: 3px 3px 12px rgba(10, 10, 10, 0.2);
  }
  /* Magnific Popup. */
  .mfp-popup {
    padding: 3rem;
  }
}

/**
* Global Styles - XL.
*/
/**
* Global Styles - XXL.
*/
/*# sourceMappingURL=custom.css.map */