/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/

/**
* _colours - Small.
*/
$white: 			    #FEFEFE;
$lightGrey: 		    #F2F2F2;
$mediumGrey: 		    #CCCCCC;
$darkGrey: 			    #262626;
$black: 			    #0A0A0A;

$companyColourOne:	    #929292;
$companyColourTwo:	    #5C757B;
$companyColourThree:    #AA1120;
$companyColourFour:     #C9020D;
$companyColourFive:     #E8E1CC;
$companyColourSix:      #7B6E19;
$companyColourSeven:    #C8B685;
$companyColourEight:    #82AFCC;
$companyColourNine:     #4FBEF2;
$companyColourTen:      #328EA8;
$companyColourEleven:   #68BED6;

$companyLightestGrey:   #F9F9F9;
$companyLightGrey:      #E6E6E6;
$companyMediumGrey:     #9B9B9B;

/**
* _colours - Medium.
*/
@media screen and (min-width: 640px) {
    
}

/**
* _colours - Large.
*/
@media screen and (min-width: 1024px) {
    
}

/**
* _colours - XL.
*/
@media screen and (min-width: 1200px) {
    
}

/**
* _colours - XXL.
*/
@media screen and (min-width: 1440px) {
    
}