/**
* Hybrid
* Starter Theme.
* Created by Anonymous.
*/

/**
* _fonts - Small.
*/
// $example:			'Example', example-serif;

h1 {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

h2 {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

h3 {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

h4 {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

h5 {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

h6 {
	margin: 0;
	color: $white;
	font-family: 'Segoe UI';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

p, address {
	color: $companyColourOne;
	font-family: 'Segoe UI';
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}

p {
	strong {
		// font-family: $;
		// font-weight: ;
	}
}

label {
	margin: 0;
	// font-family: $;
	// font-size: ;
	// font-weight: ;
	// font-style: ;
	// line-height: ;
}

/**
* _fonts - Medium.
*/
@media screen and (min-width: 640px) {
    h1 {
    	// font-size: ;
    	// line-height: ;
    }

    h2 {
    	// font-size: ;
    	// line-height: ;
    }

    h3 {
    	// font-size: ;
    	// line-height: ;
    }

    h4 {
    	// font-size: ;
    	// line-height: ;
    }

    h5 {
    	// font-size: ;
    	// line-height: ;
    }

    h6 {
    	// font-size: ;
    	// line-height: ;
    }

    p, address {
    	// font-size: ;
    	// line-height: ;
    }
}

/**
* _fonts - Large.
*/
@media screen and (min-width: 1024px) {
    h1 {
    	// font-size: ;
    	// line-height: ;
    }

    h2 {
    	// font-size: ;
    	// line-height: ;
    }

    h3 {
    	// font-size: ;
    	// line-height: ;
    }

    h4 {
    	// font-size: ;
    	// line-height: ;
    }

    h5 {
    	// font-size: ;
    	// line-height: ;
    }

    h6 {
    	// font-size: ;
    	// line-height: ;
    }

    p, address {
    	// font-size: ;
    	// line-height: ;
    }
}

/**
* _fonts - XL.
*/
@media screen and (min-width: 1200px) {
    
}

/**
* _fonts - XXL.
*/
@media screen and (min-width: 1440px) {
    
}